.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    padding: 10px;
}

.contact p{
    color: white;
    font-size: 2rem;
    height: 20%;
}

.contact div{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}

.contact img{
    border-radius: 10px;
    width: 90%;
}

.copy-right{
    text-align: center !important;  
    font-size: 12px !important;
}