.header{
    height: 500px;
    background-color: rgba(231, 229, 229, 0.76);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header p{
    text-align: center;
    font-size: 5rem;
    width: 90%;
    margin: 20px;
    @media only screen and (max-width: 400px) {
        font-size: 3rem;
    }
    @media only screen and (max-width: 300px) {
        font-size: 2rem;
    }
}