.photo-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-box div{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 992px) {
        flex-direction: column;
    }
}





